.chosenCode {
  position: relative;
  display: flex;
  background-color: #000;
  width: 110vh;
  height: 85vh;
  color: #fff;
  padding: 1rem;
  flex-direction: column;
}

.chosenCode_title {
  color: #fff;
  flex: 92%;
  text-decoration: underline;
}

.chosenCode_editBtn {
  flex: 8%;
  height: 70%;
  box-shadow: 0.35rem 0.25rem 0.5rem rgb(131, 125, 125);
  border-radius: 1rem;
  padding: 0.2rem;
}
.chosenCode_editBtn:hover {
  background-color: #ccc;
}

.chosenCode_detailes {
  display: flex;
  flex: 10%;
  float: right;
}

.chosenCode_code {
  flex: 90%;
  text-align: left;
}
.chosenCode_code_edit {
  flex: 90%;
  text-align: start;
  padding: 1rem;
  box-sizing: border-box;
  border: 0.5rem solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 2rem;
}
