.List {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  margin: 2rem;
  text-align: center;
  flex: 80%;
}
.list_header {
  display: flex;
  flex-direction: row;
}
